<ion-header>
  <ion-toolbar>
    <ion-title>Gráfico de Cotação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Moeda Base</ion-label>
    <ion-select [(ngModel)]="moedaBase" (ionChange)="atualizarGrafico()">
      <ion-select-option *ngFor="let m of moedasFiltradas" [value]="m.sigla">
        {{ m.sigla }} - {{ m.nome }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Moeda Destino</ion-label>
    <ion-select [(ngModel)]="moedaDestino" (ionChange)="atualizarGrafico()">
      <ion-select-option *ngFor="let m of moedasFiltradas" [value]="m.sigla">
        {{ m.sigla }} - {{ m.nome }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Filtrar moedas</ion-label>
    <ion-input [(ngModel)]="filtro" (ionInput)="filtrarMoedas()"></ion-input>
  </ion-item>

  <div *ngIf="carregando" class="carregando">⏳ Carregando dados...</div>
  <div *ngIf="mensagemErro" class="erro">{{ mensagemErro }}</div>

  <canvas id="graficoCotacao"></canvas>
</ion-content>
